<?xml version="1.0" encoding="UTF-8"?> 
  
<launch>
  
  <!-- The output can either be screen, log or an empty string -->
  <arg name="output" default="screen"/>
  <!-- Terminal launch prefix -->
  <arg name="launch_prefix" default="nice -n -20"/>
  
  <!-- Launch the locomotion controller as a nodelet -->
  <node name="locomotion_controller" pkg="nodelet" type="nodelet" args="load locomotion_controller/LocomotionController locomotion_controller_manager" output="$(arg output)" launch-prefix="$(arg launch_prefix)"/>
  
</launch>
