<?xml version="1.0" encoding="UTF-8"?> 
  
<launch>
  
  <!-- Arguments -->
  <arg name="debug"           default=""/>
  <arg name="quadruped_name"  default=""/>
  <arg name="quadruped_setup" default="minimal"/>
     
  <!-- Locomotion controller -->
  <node pkg="locomotion_controller" type="locomotion_controller_node" name="locomotion_controller" output="screen" launch-prefix="$(arg debug)">
    
    <!-- Load configuration files -->
    <rosparam command="load" file="$(find locomotion_controller)/config/default_locomotion_controller.yaml"/>
    <rosparam command="load" file="$(find locomotion_controller)/config/default_publishers.yaml"/>
    <rosparam command="load" file="$(find locomotion_controller)/config/default_subscribers.yaml"/>
    <rosparam command="load" file="$(find locomotion_controller)/config/default_services.yaml"/>
  
    <!-- ROS parameters, overwriting the loaded configuration files -->
    <param name="quadruped/name"  type="str" value="$(arg quadruped_name)"/>
    <param name="quadruped/setup" type="str" value="$(arg quadruped_setup)"/>
    
  </node>
  
</launch>
