<?xml version="1.0" encoding="UTF-8"?> 
  
<launch>
  
  <!-- The locomotion controller can either be run as node or nodelet -->
  <arg name="execution_mode" default="node"/>
  <!-- Quadruped name -->
  <arg name="quadruped_name" default="anymal"/>
  <!-- Quadruped setup -->
  <arg name="quadruped_setup" default="minimal"/>
  <!-- Set to true for simulation -->
  <arg name="simulation" default="false"/>
  <!-- The logger class can either be std or ros -->
  <arg name="logger_class" default="ros"/>
  <!-- The output can either be screen, log or an empty string -->
  <arg name="output" default="screen"/>
  
  <!-- Launch the locomotion controller with screen launch prefix -->
  <include file="$(find locomotion_controller)/launch/locomotion_controller.launch">
    <arg name="execution_mode"  value="$(arg execution_mode)"/>
    <arg name="quadruped_name"  value="$(arg quadruped_name)"/>
    <arg name="quadruped_setup" value="$(arg quadruped_setup)"/>
    <arg name="simulation"      value="$(arg simulation)"/>
    <arg name="logger_class"    value="$(arg logger_class)"/>
    <arg name="output"          value="$(arg output)"/>
    <arg name="launch_prefix"   value="screen -dmS locomotion_controller nice -n -20"/>
  </include>
  
</launch>
