<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <!-- Arguments -->
  <arg name="launch_prefix"   default="gdb -ex run --args"/>
  <arg name="quadruped_name"  default="starleth"/>
  <arg name="quadruped_setup" default="minimal"/>
  
  <include file="$(find locomotion_controller)/launch/locomotion_controller.launch">
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
  	<arg name="quadruped_name" value="$(arg quadruped_name)"/>
  	<arg name="quadruped_setup" value="$(arg quadruped_setup)"/>
  </include>

</launch>