<?xml version="1.0" encoding="UTF-8"?> 
  
<launch>
  
  <!-- The locomotion controller can either be run as node or nodelet -->
  <arg name="execution_mode" default="node"/>
  <!-- Quadruped name -->
  <arg name="quadruped_name" default="anymal"/>
  <!-- Quadruped setup -->
  <arg name="quadruped_setup" default="minimal"/>
  <!-- Set to true for simulation -->
  <arg name="simulation" default="false"/>
  <!-- The logger class can either be std or ros -->
  <arg name="logger_class" default="ros"/>
  <!-- The output can either be screen, log or an empty string -->
  <arg name="output" default="screen"/>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default="nice -n -20"/>
  
  <!-- Load configuration files -->
  <rosparam command="load" ns="locomotion_controller" file="$(find locomotion_controller)/config/parameters.yaml"/>
  <rosparam command="load" ns="locomotion_controller" file="$(find locomotion_controller)/config/publishers.yaml"/>
  <rosparam command="load" ns="locomotion_controller" file="$(find locomotion_controller)/config/subscribers.yaml"/>
  <rosparam command="load" ns="locomotion_controller" file="$(find locomotion_controller)/config/services.yaml"/>

  <!-- Load parameters from arguments -->
  <param name="locomotion_controller/quadruped/name"  type="str" value="$(arg quadruped_name)"/>
  <param name="locomotion_controller/quadruped/setup" type="str" value="$(arg quadruped_setup)"/>
  <param name="locomotion_controller/logger/class"    type="str" value="$(arg logger_class)"/>

  <!-- Load simulation specific parameters -->
  <group if="$(arg simulation)">
    <param name="locomotion_controller/controller/is_real_robot" value="false"/>
  </group>
  <group unless="$(arg simulation)">
    <param name="locomotion_controller/controller/is_real_robot" value="true"/>
  </group>
     
  <!-- Launch the locomotion controller -->
  <include file="$(find locomotion_controller)/launch/include/locomotion_controller_$(arg execution_mode).launch">
    <arg name="output"        value="$(arg output)"/>
    <arg name="launch_prefix" value="$(arg launch_prefix)"/>
  </include>
  
</launch>
