<?xml version="1.0" encoding="UTF-8"?> 
<launch>
	<arg name="debug" default="" />
	<node pkg="locomotion_controller" type="locomotion_controller_node" name="locomotion_controller" output="screen" launch-prefix="gdb -ex run --args">
	  <rosparam file="$(find locomotion_controller)/config/default_locomotion_controller.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_publishers.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_subscribers.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_services.yaml" command="load" />
	</node>
</launch>
