<?xml version="1.0"?>
<launch>

  <node name="joystick" pkg="joy" type="joy_node" >
    <remap from="/joy" to="/locomotion_controller/sensors/joy" />
  </node>
  
  <node name="locomotion_controller" pkg="nodelet" type="nodelet"  args="manager" output="screen">
    <param name="num_worker_threads" value="5"/>
  </node>
  
  <node name="controller" pkg="nodelet" type="nodelet" args="load locomotion_controller/LocomotionController locomotion_controller" output="screen">
    <rosparam command="load" file="$(find locomotion_controller)/config/default_locomotion_controller.yaml"/>
    <rosparam command="load" file="$(find locomotion_controller)/config/default_publishers.yaml"/>
    <rosparam command="load" file="$(find locomotion_controller)/config/default_subscribers.yaml"/>
    <rosparam command="load" file="$(find locomotion_controller)/config/default_services.yaml"/>
  </node>
  
  <node name="simulator" pkg="nodelet" type="nodelet" args="load mule_simulator/MuleSimulator locomotion_controller" output="screen">
    <rosparam command="load" file="$(find mule_simulator)/config/callback_simulator.yaml"/>
    <rosparam command="load" file="$(find mule_simulator)/config/default_publishers.yaml"/>
    <rosparam command="load" file="$(find mule_simulator)/config/default_subscribers.yaml"/>
  </node>
  
</launch>

