<?xml version="1.0" encoding="UTF-8"?> 
<launch>
	<arg name="home" default="true" />

    	
  <node name="locomotion_controller_manager" pkg="nodelet" type="nodelet"  args="manager" output="screen" launch-prefix="screen -dmS locomotion_controller_manager nice -n -20">
    <!-- <param name="num_worker_threads" value="5"/> -->
  </node>
  
    <node name="locomotion_controller" pkg="nodelet" type="nodelet" args="load locomotion_controller/LocomotionController locomotion_controller_manager" output="screen" launch-prefix="screen -dmS locomotion_controller ">
	  <rosparam file="$(find locomotion_controller)/config/starleth_nodelet_locomotion_controller.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_publishers.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_subscribers.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_services.yaml" command="load" />	  
	</node>
  
  	<node name="state_estimator" pkg="nodelet" type="nodelet" args="load state_estimator_rm/StateEstimatorRm locomotion_controller_manager" output="screen" launch-prefix="screen -dmS state_estimator ">
	  <rosparam command="load" file="$(find state_estimator)/config/starleth_nodelet_state_estimator.yaml" />
	  <rosparam command="load" file="$(find state_estimator)/config/default_publishers.yaml" />
	  <rosparam command="load" file="$(find state_estimator)/config/default_subscribers.yaml" />
	  <rosparam command="load" file="$(find state_estimator)/config/default_services.yaml" />
	</node>
  
 	<node name="lowlevel_controller" pkg="nodelet" type="nodelet" args="load lowlevel_controller/LowLevelController locomotion_controller_manager" output="screen" launch-prefix="screen -dmS lowlevel_controller">
	  <rosparam file="$(find lowlevel_controller)/config/starleth_nodelet_lowlevel_controller.yaml" command="load" />
	  <rosparam file="$(find lowlevel_controller)/config/default_publishers.yaml" command="load" />
	  <rosparam file="$(find lowlevel_controller)/config/default_subscribers.yaml" command="load" />
	  <rosparam file="$(find lowlevel_controller)/config/default_services.yaml" command="load" />	    
	  <param name="controller/home" value="$(arg home)" />
	</node>
	
</launch>
