<?xml version="1.0" encoding="UTF-8"?> 
<launch>
	<arg name="debug" default="" />
	<arg name="home" default="true" />

    	<node name="joystick" pkg="joy" type="joy_node" >
      	   <remap from="/joy" to="/locomotion_controller/sensors/joy" />
    	</node>
	
	<node pkg="lowlevel_controller" type="lowlevel_controller_node" name="lowlevel_controller" output="screen" launch-prefix="nice -n -20">
	  <rosparam file="$(find lowlevel_controller)/config/starleth_nodes_lowlevel_controller.yaml" command="load" />
	  <rosparam file="$(find lowlevel_controller)/config/default_publishers.yaml" command="load" />
	  <rosparam file="$(find lowlevel_controller)/config/default_subscribers.yaml" command="load" />
	  <rosparam file="$(find lowlevel_controller)/config/default_services.yaml" command="load" />	    
	  <param name="controller/home" value="$(arg home)" />
	</node>

	<node pkg="state_estimator_rm" type="state_estimator_rm_node" name="state_estimator" output="screen">
	  <rosparam command="load" file="$(find state_estimator)/config/starleth_nodes_state_estimator.yaml" />
	  <rosparam command="load" file="$(find state_estimator)/config/default_publishers.yaml" />
	  <rosparam command="load" file="$(find state_estimator)/config/default_subscribers.yaml" />
	  <rosparam command="load" file="$(find state_estimator)/config/default_services.yaml" />
	</node>
	
	<node pkg="locomotion_controller" type="locomotion_controller_node" name="locomotion_controller" output="screen" launch-prefix="$(arg debug)">
	  <rosparam file="$(find locomotion_controller)/config/starleth_nodes_locomotion_controller.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_publishers.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_subscribers.yaml" command="load" />
	  <rosparam file="$(find locomotion_controller)/config/default_services.yaml" command="load" />	  
	</node>
</launch>

